body
{
    background-image: url("images/hell.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#PNF
{
    height: 150px;
    padding: 30px;
    color: red;
    font-weight: bold;
    font-size: 75px;
    
}

#err404
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    font-size: 300px;
    color: white;
}

#back
{
    height: 50px;
    display: flex;
    justify-content: center;
}

input[type="submit"]
{
    font-weight: bold;
    font-size: 35px;
    border: 2px solid;
    border-radius: 50px;
}